.nav {
    grid-area: n;
    width: 100%;
    background-color: #00adb5;
}

.item {
    border: 2px solid seagreen;
    border-radius: 5px;

}

.item a {
    color: darkred;
    text-decoration: none;
}

.item .activeLink {
    color: gold;
}









