body {
  background-color: #222831;
  font-family: 'JetBrains Mono', monospace;
}

.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;

  grid-template-areas:
    'h h'
    'n c';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 1fr 5fr;
  /*color: #00fff5;*/
  background-color: #393e46;
  overflow: hidden;
}


.app-wrapper-content {
  grid-area: c;
  background-color: royalblue;

}