.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;

}

.dialogsItems {
    text-decoration: none;
    padding: 10px;
}

.dialogsItems .active {
    color: gold;
}



 .dialog a {
    text-decoration: none;
    color: greenyellow;
    border: 2px solid green;
}


.messages {
    margin-top: 10px;
    color: #7a1d6f;
}

.message {

}